name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup Examples
        run: |
          cd examples/expoapp
          npm install
          cd ../..

      - name: Configure NPM token and install dependencies
        env:
          NPM_TOKEN_V2: ${{ secrets.NPM_TOKEN_V2 }}
        run: |
          npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_V2
          npm ci

      - name: Run build
        run: npm run prepack

      - name: Publish Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_V2 }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_V2 }}
